* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --background-color: #f4f4f4;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #06d001;
    box-shadow: 0 0 4px #22ef63;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.company-logo {
    margin-right: 280px; /* Space between logo and nav links */
}

.company-logo img {
    width: 80px;
    height:65px;
    transition: transform 0.3s ease;
}

.company-logo img:hover {
    transform: scale(1.1);
}

.nav-links {

    display: flex;
}

.nav-links ul {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

.hover-link {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.hover-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--secondary-text-color);
    font-weight: bold;
}

.nav-item.active {
    color: var(--accent-color);
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.3s;
}

.nav-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.nav-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.nav-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translate(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
    color: var(--secondary-text-color);
}

.news-source::before {
    content: "• ";
    color: var(--accent-color);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-links ul {
        width: 100%;
        padding: 0;
    }

    .nav-links li {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .nav-links li:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
